spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  main:
    banner-mode: off
    log-startup-info: false