spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  sql:
    init:
      mode: always
      continue-on-error: true
  main:
    banner-mode: off
    log-startup-info: false